/* Reset some default styling */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Style the product grid container */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Style individual product items */
.product {
  background-color: #a70882;
    border: 1px solid #090808 ;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product p {
    font-size: 1rem;
}
